#Eclipse
.classpath
.project
/bin/
/.settings/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
/out/

#gradle
gradle/
gradlew
gradlew.bat
/.gradle/
/build/

#app
applicationPid
rbac.db
rbac.db-journal
rbac.mv.db
rbac.lock.db
rbac.trace.db
/backup/
/config/
/test/
/logs/
*.log
